<div class="flex flex-col lg:flex-row items-center w-full min-h-screen p-4 lg:px-16 gap-x-10 gap-8 justify-center" >
    <div class="z-20 flex flex-col w-full gap-5 lg:w-1/2 items-center lg:items-start">
        <p-avatar icon="pi pi-user" class="mr-2" size="xlarge" shape="circle" />
        <h1 class="mont text-4xl md:text-6xl text-center lg:text-7xl lg:text-start">Hi! I'm Irish Rixon Dela Peña</h1>
    </div>

    <div class="z-20 flex flex-col w-full lg:w-1/2 gap-y-5">
        <h1 class="text-4xl mont md:text-6xl text-center lg:text-start">A MEAN stack developer</h1>

        <h2 class="text-lg firacode text-slate-500 text-center">Learning how web applications work is truly fascinating!</h2>

        <div class="flex mt-3 gap-x-5 justify-center">
            <p-button label="See my projects" severity="info" (onClick)="emitSignalProjects()"/>
            <p-button label="My tech stacks" severity="info" [outlined]="true"(onClick)="emitSignalSkills()"/>
        </div>
    </div>

    <div class="z-20 flex lg:flex-col gap-y-8 right-5">
        <p-button icon="pi pi-github" [rounded]="true" severity="secondary" size="large" (onClick)="openGithub()"/>
        <p-button icon="pi pi-linkedin" [rounded]="true" severity="secondary" size="large" (onClick)="openLinkedIn()" />
    </div>
</div> 