<div class="flex min-h-screen w-full items-center gap-x-10">
    <div class="flex flex-col gap-5 w-1/2">
        <p-avatar icon="pi pi-user" class="mr-2" size="xlarge" shape="circle" />
        <h1 class="mont text-7xl">Hi! I'm Irish Rixon Dela Peña</h1>
    </div>

    <div class="flex flex-col w-1/2 gap-y-5">
        <h1 class="mont text-5xl">A MEAN stack developer</h1>

        <h2 class="text-lg text-slate-500">Learning how web applications work is truly fascinating!</h2>

        <div class="flex gap-x-5">
            <p-button label="See my projects" severity="info" />
            <p-button label="My tech stacks" severity="info" [outlined]="true"/>
        </div>
    </div>

    <div class="flex flex-col gap-y-8 fixed right-10">
        <p-button icon="pi pi-github" [rounded]="true" severity="secondary" size="large"/>
        <p-button icon="pi pi-linkedin" [rounded]="true" severity="secondary" size="large" />
        <p-button icon="pi pi-facebook" [rounded]="true" severity="secondary" size="large" />
    </div>
</div> 