<div class="flex min-h-screen p-16 md:p-5 bg-slate-200 items-center">

    <div class="flex w-full flex-col gap-10 md:flex-row">
        <div class="flex items-center w-full md:w-1/2">
            <h1 class="w-full md:text-6xl text-4xl font-semibold text-center mont text-sky-950">How can I help you?</h1>
        </div>

        <div class="flex items-center justify-center w-full md:w-1/2 z-20">
            <div class="flex flex-col w-2/3 gap-5 p-10 rounded-md shadow-lg min-h-2/3 min-w-80 bg-slate-100" [formGroup]="form">
                <p-iftalabel>
                    <input class="w-full" pInputText id="username" autocomplete="off" formControlName="email" />
                    <label for="username">Your email</label>
                </p-iftalabel>

                <p-floatlabel variant="in">
                    <textarea pTextarea id="over_label" rows="7" cols="50" style="resize: none" class="w-full h-full p-4" formControlName="message"></textarea>
                    <label for="in_label">Message</label>
                </p-floatlabel>

                <p-button label="Submit" size="large" [fluid]="true" [loading]="isLoading" (onClick)="onSubmit()"/>
            </div>
        </div>
    </div>
</div>