<div #skills  class="flex items-center w-full min-h-screen p-16 bg-slate-200">
    <div class="flex flex-col w-full p-4 rounded-lg shadow-sm h-2/4 bg-slate-100 shadow-slate-400 gap-y-4 z-20">
        <h1 class="text-3xl font-bold text-center mont">My Skills</h1>

        <div class="flex flex-wrap justify-center">
            <div class="flex flex-col gap-5 p-8 w-[365px]">
                <h2 class="w-full text-2xl font-medium text-center mont">
                    Web Development
                </h2>
                
                <ul class="flex flex-wrap w-full firacode gap-y-5">
                    <li class="inline p-2 shadow-lg">
                        <img src="\assets\logos\express.png" alt="express logo" />Express.js
                    </li>
                    <li class="shadow-lg">
                        <img src="\assets\logos\angular.png" alt="angular logo" />Angular
                    </li>
                    <li class="shadow-lg">
                        <img src="\assets\logos\nodejs.png" alt="nodejs logo" />Node.js
                    </li>
                    <li class="shadow-lg">
                        <img class="!object-cover" src="\assets\logos\typescript.png" alt="typescript logo" />TypeScript
                    </li>
                    <li class="shadow-lg">
                        <img src="\assets\logos\js.png" alt="javascript logo" />JavaScript
                    </li>
                    <li class="shadow-lg">
                        <img class="!object-contain" src="\assets\logos\tailwind.png" alt="tailwind logo" />Tailwind CSS
                    </li>
                </ul>
            </div>

            <div class="flex flex-col gap-5 p-8 w-[365px]">
                <h2 class="w-full text-2xl font-medium text-center mont">
                    Mobile Development
                </h2>
                
                <ul class="flex flex-wrap w-full firacode gap-y-5">
                    <li class="inline p-2 shadow-lg">
                        <img src="\assets\logos\kotlin.png" alt="kotlin logo" />Kotlin
                    </li>
                    <li class="shadow-lg">
                        <img src="\assets\logos\jetpackcompose.png" alt="jetpack compose logo" />Jetpack Compose
                    </li>
                </ul>
            </div>

            <div class="flex flex-col gap-5 p-8 w-[365px]">
                <h2 class="w-full text-2xl font-medium text-center mont">
                    Databases
                </h2>
                
                <ul class="flex flex-wrap w-full firacode gap-y-5">
                    <li class="inline p-2 shadow-lg">
                        <img src="\assets\logos\mongodb.png" alt="mongodb logo" />MongoDB
                    </li>
                    <li class="shadow-lg">
                        <img src="\assets\logos\mysql.png" alt="mysql logo" />MySql
                    </li>
                </ul>
            </div>

            <div class="flex flex-col gap-5 p-8 w-[365px]">
                <h2 class="w-full text-2xl font-medium text-center mont">
                    Tools & Platform   
                </h2>
                
                <ul class="flex flex-wrap w-full firacode gap-y-5">
                    <li class="inline p-2 shadow-lg">
                        <img src="\assets\logos\git.webp" alt="express logo" />Git
                    </li>
                    <li class="shadow-lg">
                        <img class="!object-cover" src="\assets\logos\figma.png" alt="figma logo" />Figma
                    </li>
                    <li class="shadow-lg">
                        <img src="\assets\logos\firebase.png" alt="firebase logo" />Firebase
                    </li>
                    <li class="shadow-lg">
                        <img src="\assets\logos\cloudinary.webp" alt="cloudinary logo" />Cloudinary
                    </li>
                </ul>
            </div>

            <div class="flex flex-col gap-5 p-8 w-[365px]">
                <h2 class="w-full text-2xl font-medium text-center mont">
                    Deployment   
                </h2>
                
                <ul class="flex flex-wrap w-full firacode gap-y-5">
                    <li class="inline p-2 shadow-lg">
                        <img src="\assets\logos\Netlify.png" alt="netlify logo" />Netlify
                    </li>
                    <li class="shadow-lg">
                        <img class="!object-cover" src="\assets\logos\render.png" alt="render logo" />Render
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>