
// @use "tailwindcss";
@import "primeicons/primeicons.css";


@font-face {
  font-family: 'Firacode';
  src: url('/assets/fonts/FiraCode-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Mont';
  src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

.firacode {
  font-family: 'Firacode';
}

.mont {
  font-family: 'Mont';
}

html, body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Ensure particles stay behind content */
.tsparticles-canvas-el {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none; 
}

/* Make sure content is interactive */
router-outlet, p-toast {
  position: relative;
  z-index: 1;
}

.ng-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Ensure particles are behind other content */
}

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

